/* CSS Document */
body
{
	margin:0;
	padding:0;
}

	

p{

	margin:0;

	padding:0;

	}

	

img{

	border:none;

	vertical-align:top;

	}

	

h1 h2 h3 h4 h5 h6{

	margin:0;

	padding:0;

	}

	

@font-face {

    font-family: 'oswaldlight';

    src: url('../assets/fonts/oswald-light-webfont.eot');

    src: url('../assets/fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),

         url('../assets/fonts/oswald-light-webfont.woff') format('woff'),

         url('../assets/fonts/oswald-light-webfont.ttf') format('truetype'),

         url('../assets/fonts/oswald-light-webfont.svg#oswaldlight') format('svg');

    font-weight: normal;

    font-style: normal;

	} 

	

@font-face {

    font-family: 'oswaldbold';

    src: url('../assets/fonts/oswald-bold-webfont.eot');

    src: url('../assets/fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),

         url('../assets/fonts/oswald-bold-webfont.woff') format('woff'),

         url('../assets/fonts/oswald-bold-webfont.ttf') format('truetype'),

         url('../assets/fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');

    font-weight: normal;

    font-style: normal;



	}

	

@font-face {

    font-family: 'oswaldbook';

    src: url('../assets/fonts/oswald-regular-webfont.eot');

    src: url('../assets/fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('../assets/fonts/oswald-regular-webfont.woff') format('woff'),

         url('../assets/fonts/oswald-regular-webfont.ttf') format('truetype'),

         url('../assets/fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');

    font-weight: normal;

    font-style: normal;



}

	

#menu-icon{

	display:none;

	}

	

.header{

	background:url(../assets/images/admin/header_bg.png) repeat-x;

	width:100%;

	float:left;

	margin:0;

	padding:0;

	}

	

#header_wrapper{

	width:1000px;

	margin:0 auto 0 auto;

	}

	

.logo{

	width:auto;

	margin:45px 0 0 0;

	padding:0;

	float:left;

	}

	

.header_right{

	width:80%;

	float:right;

	margin:17px 0 0 0;

	padding:0;

	}

	

.header_right h1{

	font-family: 'oswaldbook';

	font-size:36px;

	font-weight:normal;

	color:#FFFFFF;

	margin:0 25px 0 0;

	padding:0;

	float:right;

	}

	

.header_right_box1{

	width:45%;

	float:right;

	margin:6px 23px 0 0;

	padding:0;

	}

	

.header_phone{

	width:auto;

	float:left;

	margin:8px 25px 0 0;

	padding:0;

	}

	

.header_phone span{

	width:auto;

	float:left;

	margin:0 13px 0 0;

	padding:0;

	}

	

.header_phone p{	

	font-family: 'oswaldlight';

	font-size:20px;

	font-weight:normal;

	color:#FFFFFF;

	float:left;

	}

	

.header_cart{

	width:auto;

	float:left;

	margin:0px 0 0 0;

	padding:0;

	}

	

.header_cart span{

	width:auto;

	float:left;

	margin:0 13px 0 0;

	padding:0;

	}

	

.header_cart p{	

	font-family: 'oswaldbook';

	font-size:25px;

	font-weight:normal;

	color:#FFFFFF;

	float:left;

	margin:6px 0 0 0;

	}

	

.header_cart a{

	color:#ffea00;

	text-decoration:underline;

	margin-left:5px;

	}

	

#top_nav{

	background:url(../assets/images/admin/top_nav_bg.png) repeat-x;

	width:auto;

	float:right;

	margin:15px 0 10px 0;

	padding:10px;

	}

	

#top_nav ul{

	width:auto;

	float:left;

	margin:0;

	padding:0;

	}



#top_nav li{

	background:url(../assets/images/admin/top_nav_li_img.png) no-repeat scroll right 13px transparent;

	float:left;

	margin:0;	

	list-style:none;

	}

	

#top_nav li:last-child{

	background:none;

	}

	

#top_nav li a{

	font-family: 'oswaldbook';

	font-size:17px;

	font-weight:normal;

	color:#FFFFFF;

	text-decoration:none;

	float:left;

	padding:7px 20px;

	}

	

#top_nav li a:hover{

	background:url(../assets/images/admin/top_nav_hover_img.png) repeat-x;

	float:left;

	margin:0;

	padding:7px 20px;

	}

	

#top_nav li a.active{

	background:url(../assets/images/admin/top_nav_hover_img.png) repeat-x;

	float:left;

	margin:0;

	padding:7px 20px;

	}

	

.search_bg{

	background:url(../assets/images/admin/search_bg_img.png) repeat-x;

	width:100%;

	float:left;

	margin:0;

	padding:19px 0 12px 0;

	}

	

.search_wrapper{

	width:1000px;

	margin:0 auto 0 auto;

	}

	

.search_wrapper p{

	font-family: 'oswaldlight';

	font-size:23px;

	color:#d80004;

	font-weight:normal;	

	float:left;

	}

	

.header_search{

	width:43%;

	float:right;

	margin:0;

	padding:5px 5px 4px 5px;

	background:#FFFFFF;

	behavior:url(css/PIE.htc);

	border-radius:10px;

	border:1px solid #aaaaaa;

	position:relative;

	}

	

.header_search input{

	width:87%;

	padding:5px 10px;

	margin:0;

	border:none;

	color:#838383;

	font-size:13px;

	}

	

.banner_main{

	width:100%;

	background:#f4f4f4;

	float:left;

	margin:0;

	padding:0;

	}

	

#banner_wrapper{

	width:1000px;

	margin:0 auto 0 auto;

	position:relative;

	}

	

	

/*================== body start here =======================*/



.body_main{

	width:100%;

	float:left;

	/*border-top:6px solid #f5f5f5;*/

	margin:2px 0 0 0;

	padding:px 0 0 0;

	}

	

#body_wrapper{

	width:1000px;

	margin:0 auto 0 auto;

	}

	

.featured_deals_box{

	width:100%;

	float:left;

	margin:0;

	padding:0;

	}



.featured_phone_deals{

	width:auto;

	padding:10px 15px 1px 15px;

	float:left;

	background:#f4f4f4;

	}

	

.featured_phone_deals p{

	font-family: 'oswaldlight';

	font-size:26px;

	font-weight:normal;

	color:#323232;

	}

	

.featured_phone_bg{	

	background:url(../assets/images/admin/featured_phone_bg.png) repeat-x;

	width:100%;

	float:left;

	margin:0;

	padding:35px 0 0 0;

	}

	

.phone_box{

	width:145px;

	float:left;

	margin:0 50px 30px 50px;

	padding:0;

	}

	

.phone_img{

	width:100%;

	float:left;

	margin:0 0 25px 0;

	padding:0;

	text-align:right;

	}

	

.phone_box p{

	font-size:12px;

	font-family:Arial, Helvetica, sans-serif;

	font-weight:normal;

	color:#333333;

	}

	

.phone_box h1{

	font-size:24px;

	font-family:Arial, Helvetica, sans-serif;

	font-weight:normal;

	color:#333333;

	margin:10px 0;

	padding:0;

	}



.phone_box a{

	margin:0 0px 0 0;

	}

	

.phone_box a:last-child{

	float:right;

	}

	



.featured_phone_arrow {

    float: right;

    margin: 0;

    padding: 0;

    width: 10%;

}

	

.featured_phone_arrow a{

	width:auto;

	float:left;

	}

	

	

/*====================== inner pages ========================*/

.featured_products {

    float: right;

    margin: 0;

    padding: 0;

    width: 74%;

	}

	

.left_side_bar{

	width:25%;

	float:left;

	margin:0;

	padding:0;

	background:#F4F4F4;

	}

	

.left_side_bar h1{

	background:url(../assets/images/admin/top_nav_hover_img.png) repeat-x;

	font-family: 'oswaldbold';

	font-size:20px;

	font-weight:normal;

	color:#FFFFFF;

	margin:0;

	padding:5px 0 4px 16px;

	}

	

.side_bar_listing ul{

	width:auto;

	float:left;

	margin:5px 0 0 0;

	padding:0;

	}

	

.side_bar_listing li{

	background:url(../assets/images/admin/list_li_img.png) no-repeat 0 14px;

	list-style:none;

	float:left;

	margin:0 0 0 20px;

	padding:0 38px 0 25px;

	border-bottom:1px dashed #CCCCCC;

	}

	

.side_bar_listing li a{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:normal;

	color:#333333;

	text-decoration:none;

	line-height:35px;

	}

	

.side_bar_listing li a:hover{

	color:#D80004;

	}

	

.product_detail_img{

	width:30%;

	float:left;

	margin:0 20px 0 0;

	padding:20px 0 10px 0;

	border:1px solid #ccc;

	text-align:center;

	background:#F4F4F4;

	}

	

.product_detail_img span{

	text-align:center;

	margin:0;

	padding:0;

	}



.product_thumb_img{

	width:100%;

	float:left;

	margin:15px 0 0 0;

	padding:10px 0 0 0;

	border-top:1px solid #ccc;

	}

	

.product_thumb_img a{

	margin:0 10px;

	}

	

.product_detail_text{

	width:66%;

	float:right;

	margin:0;

	padding:0;

	}



.product_detail_text h1{

	font-family: 'oswaldlight';

	font-size:26px;

	font-weight:normal;

	color:#666666;

	margin:0;

	padding:0;

	}

	

.product_detail_text p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:normal;

	color:#666666;

	line-height:30px;

	}

	

.product_detail_text strong{

	float:left;

	margin-right:10px;

	}

	

.product_detail_text span{

	margin:6px 0 0 0;

	float:left;

	}

	

.product_detail_text a{

	clear:both;

	float:left;

	margin:20px 0 0 0;

	}







/*tab*/



.bootom-info{

	margin:20px 0 30px 0;

	padding:0;

	float:left;

	width:100%;

}



.decription-info h2 {

    border-bottom: medium none;

    color: #333333;

    float: left;

    font: bold 17px Arial,Helvetica,sans-serif;

    margin:15px 0 6px 0;

    padding: 0;

    width: 100%;

}





.decription-info p {

    font-size: 13px;

    line-height: 22px;

    text-align: justify;

}





.specifications_tab{

	width:100%;

	float:left;

	margin:0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:normal;

	color:#333333;

	}

	

.specifications_tab table{

	width:100%;

	border-collapse:collapse;

	}

	

.specifications_tab td{

	width:50%;

	padding:10px;

	}

	

.specifications_tab_color{

	background:#f2f2f2;

	border-bottom:1px solid #CCCCCC;

	border-top:1px solid #CCCCCC;

	}

	

	

.start_rating{

	width:auto;

	float:left;

	margin:10px 0 0 0;

	}

	

.sort_by{

	width:100%;

	float:left;

	background:#CCCCCC;

	padding:10px 0;

	margin:20px 0 0 0;

	text-align:right;

	}

	

.sort_by p{

	float:right;

	color:#000000;

	font-weight:bold;

	margin:1px 5px 0 0;

	}

	

.sort_by select{

	float:right;

	width:120px;

	padding:2px 0;

	margin-right:20px;

	}

	

.sort_by a{

	margin-right:20px;

	color:#FF0000;

	}

	

.ratings_part_2{

	width:100%;

	float:left;

	}

	

.comment_box{	

	width:100%;

	float:left;

	margin:20px 0 0 0;

	}

	

.comment_box span{

	width:50px;

	float:left;

	margin:0 15px 0 0;

	}

	

.comment_box span img{

	width:100%;

	}

	

.comment_box p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#666666;

	margin-bottom:5px;

	}

	

.comment_box a{

	color:#0066FF !important;

	}

	

.comment_box_main{

	width:100%;

	float:left;

	border-bottom:2px dashed #666666;

	margin: 0 0 20px;

    padding: 0 0 20px;

	}

	



	

.post_like_box{

	width:100%;

	float:left;

	margin:20px 0;

	}

	

.post_like_box p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:normal;

	color:#666666;

	float:left;

	}

	

.post_like_box a{

	float:left;

	margin-left:10px;

	text-decoration:none;

	color:#0066FF !important;

	}

	

.mobile_pland_pagination{

	width:100%;

	float:left;

	margin:0;

	padding:0;

	}

	

.pagination_box1{

	width:25%;

	float:left;

	margin:0;

	padding:0;

	}

	

.pagination_box1 p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:normal;

	color:#333333;

	margin:5px 0 0 0;

	}

	

.pagination_box2{

	width:30%;

	margin:0 auto 0 auto;

	}

	

.pagination_box2 ul{

	width:100%;

	float:left;

	margin:0;

	padding:0;

	}	

	

.pagination_box2 li{

	list-style:none;

	float:left;

	margin:0;

	padding:0;

	}

	

.pagination_box2 li a{

	background:#25a1e4;

	float:left;

	padding:4px 8px;

	margin:0 2px;

	text-decoration:none;

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:normal;

	color:#FFFFFF;

	border:1px solid #165186;

	}

	

.pagination_box2 li a:hover{

	background:#11416c;

	}

	

.pagination_box3{

	width:25%;

	float:right;

	}

	

.pagination_box3 select{

	width:100px;

	padding:3px 0;

	float:right;

	border:1px solid #999999;

	color:#666666;

	margin:0 21px 0 0;

	}

	

.pagination_box3 p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#333333;

	float:right;

	margin:4px 5px 0 0;

	}

	

.sort_by{

	width:100%;

	float:left;

	margin:10px 0 0 0;

	padding:5px 0;

	background:#c3d9eb;

	}



.sort_by select{

	width:101px;

	padding:3px 0;

	float:right;

	border:1px solid #999999;

	color:#666666;

	}

	

.sort_by p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#333333;

	float:right;

	margin:4px 5px 0 0;

	}

	

.mobile_plans_box{

	width:100%;

	float:left;

	margin:20px 0 0 0;

	padding:0 0 20px 0;

	border-bottom:1px dashed #333333;

	}

	

.mobile_plans_box1{

	width:20%;

	float:left;

	margin:0 20px 0 0;

	padding:0;

	text-align:center;

	}

	

.mobile_plans_box1 span{

    float: left;

    margin-bottom: 10px;

    text-align: center;

    width: 100%;

	}

	

.mobile_plans_box1 p {

    font-family: Arial,Helvetica,sans-serif;

    font-size: 12px;

	}

	

.mobile_plans_box1 img{

	width:100%;

	}

	

.mobile_plans_box2{

	width:45%;

	float:left;

	margin:0;

	padding:0;

	}

	

.mobile_plans_box2 h6{

	font-family:'oswaldlight';

	font-size:18px;

	font-weight:bold;

	color:#2aa4e5;

	margin:0 0 5px 0;

	padding:0;

	}

	

.mobile_plans_box2 p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:normal;

	color:#333333;

	line-height:18px;

	margin:0;

	padding:0;

	}

	

.mobile_plans_box3{

    background: none repeat scroll 0 0 #DFF1FB;

    float: right;

    margin: 0;

    padding: 15px;

    width: 25%;

	}

	

.mobile_plans_box3 h5{

	font-family:Arial, Helvetica, sans-serif;

	font-size:18px;

	font-weight:bold;

	color:#D80004;

	margin:0;

	padding:0;

	}

	

.mobile_plans_box3 p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#333333;

	line-height:18px;

	}

	

.mobile_plans_box3 ul{

	width:auto;

	float:left;

	margin:10px 0 0 0px;

	padding:0;

	}

	

.mobile_plans_box3 li {

	background:url(../assets/images/admin/arrow.png) no-repeat scroll 0 6px transparent;

	list-style:none;

	padding:0 0 0 15px;

	}

	

.mobile_plans_box3 li a{

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:normal;

	color:#2AA4E5;

	text-decoration:none;

	line-height:18px;

	}



.add_package{

	width:100%;

	text-align:center;

	margin:20px 0 0 0;

	float:left;

	}

	

.prepaid_minutes_box{

	width:100%;

	float:left;

	margin:20px 0 0px 0;

	padding:0 0 20px 0;

	border-bottom:1px dashed #333333;

	}



.prepaid_minutes_box1{

	width:30%;

	float:left;

	padding:0;

	margin:0;

	text-align:center;

	}

	

.prepaid_minutes_box1 span{

	width:100%;

	text-align:center;

	float:left;

	margin-bottom:10px;

	}

	

.prepaid_minutes_box1 p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	}

	

.prepaid_minutes_box2{

	width:70%;

	float:left;

	padding:0;

	margin:0;

	}

	

.prepaid_minutes_box2 h6 {

    color: #D80004;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 18px;

    font-weight: bold;

    margin:0 0 5px 0;

    padding: 0;

	}



.prepaid_minutes_box2 p {

    color: #333333;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 12px;

    font-weight: normal;

    line-height: 18px;

	}

	

.customer_review{

	width:100%;

	float:left;

	margin:15px 0 0 0;

	}

	

.customer_review p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:normal;

	color:#333333;

	}

	

.customer_review span{

	width:auto;

	margin:0 10px;

	}

	

.customer_review a{

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#990000;

	text-decoration:none;

	}

	

.prepaid_minutes_cart_btn{

	float:right;

	}

	

.narrow_result{

	width:100%;

	float:left;

	margin-top:20px;

	}

	

	

.narrow_result h2{

	width:90%;

	font-family:'oswaldlight';

	font-size:18px;

	font-weight:normal;

	color:#666666;

	border-bottom:1px solid #CCCCCC;

	padding-bottom:5px;

	padding:0 10px 5px 10px;

	}

	

.narrow_result_option{

	width:100%;

	float:left;

	margin:0 0 7px 0;

	padding:0;

	line-height: 20px;

	}

	

.narrow_result_option input{

	width:auto;

	float:left;

	margin:2px 5px 0 10px;

	}

	

.narrow_result_option p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:bold;

	color:#2AA4E5;

	float:left;

	margin:0px;

	padding:0px;

	}

	

.narrow_result_option span{

	color:#666666;

	font-weight:normal;

	}

	

.mobile_plans_box2 table{

	border-collapse:collapse;

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	color:#666666;

	}

	

.mobile_plans_box2 td{

	padding:3px 10px;

	}

	

.regiter_as{	

	background:#f9f9f9;

	border-bottom:1px solid #CCCCCC;

	border-top:1px solid #CCCCCC;

    float: left;

    margin:20px 0 0 0;

    padding: 10px 0;

    width: 100%;

	}	

	

.regiter_as h1{

	font-family: 'oswaldbold';

	font-size:17px;

	font-weight:normal;

	color:#D80004;

    margin: 0 20px 2px 16px;

 	padding:0;

	float:left;

	 letter-spacing: 1px;

	}

	

.regiter_as p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:normal;

	color:#333333;

	margin:0 20px 0 0;

	padding:0;

	float:left;

	}

	

.create_account_main{

	width:500px;

	float:left;

	margin:20px 0 0 50px;

	padding:0;

	}

	

.create_account_box{

	width:100%;

	float:left;

	margin:0 0 10px 0;

	padding:0;

}



.create_account_box p{

    color: #333333;

    font-family: 'oswaldlight';

    font-size: 18px;

    font-weight: normal;

    width:100%;

	}



.create_account_box span{

	width:auto;

	float:left;

	}

	

.create_account_box input{

	width:300px;

	padding:6px 10px;

	border:1px solid #aaaaaa;

	background:#f9f9f9;

}



.create_account_img{

	width:auto;

	float:right;

	margin:0 20px 0 0;

	padding:0;

	}

	

.buyer_login{

    float: left;

    margin: 0 10px 0 10px;

    padding: 0;

    width: 48%;

	}

	

.buyer_login a{

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	text-align:center;

	width:64%;

	float:left;

	color:#D80004;

	margin:10px 0;

	}

	

.checkout_header{

	width:100%;

	float:left;

	margin:20px 0 0 0;

	padding:0;

	background:#f9f9f9;

	border-top:1px solid #cccccc;

    border-bottom:1px solid #cccccc;



	}

	

.checkout_header img{

	float:left;

	margin:0 0 0 10px;



	}



.checkout_form_main{

    border-bottom:1px dashed #333333;

    clear: both;

    float: left;

    margin: 30px 0 0;

    padding:0px 0 20px 0;

    width: 100%;

	}

	

.checkout_form_main h3{

	font-family:'oswaldbook';

	font-size:18px;

	font-weight:normal;

	color:#D80004;

	margin:10px 0;

	border-bottom:1px dashed #333333;

	}

	

.checkout_form_box1{

	width:10%;

	float:left;

	text-align:center;

	}

	

.checkout_form_box1 h6{

	margin:0 0 10px 0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#333333;

	}

	

.checkout_form_box1 p{

	margin:0 0 5px 0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#666666;

	}

	

.checkout_form_box1 a{	

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#0066FF;

	text-decoration:none;

	clear:both;

	float:left;

	text-align:center;

	width:100%;

	line-height:20px;

	}

	



.checkout_form_box2 {

    float: left;

    margin: 0 0 0 70px;

    width: 31%;

}

.checkout_form_box2 h6{

	margin:0 0 10px 0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#333333;

	}

	

.checkout_form_box2 p{

	margin:0 0 5px 0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#666666;

	}

	

.checkout_form_box2 a{	

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#0066FF;

	text-decoration:none;

	clear:both;

	float:left;

	line-height:20px;

	}

	

.checkout_form_box2 a:hover{

	text-decoration:underline;

	}

	

	

.checkout_form_box3{

	width:30%;

	float:left;

	text-align:center;

	}

	

.checkout_form_box3 h6{

	margin:0 0 10px 0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#333333;

	}

	

.checkout_form_box3 h5{

	margin:0px 0 0 0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#990000;

	text-decoration:line-through;

	}

	



.checkout_form_box4 {

    float: right;

    margin: 0 59px 14px 0;

    text-align: center;

    width: 18%;

}

	

.checkout_form_box4 h6{

	margin:0 0 10px 0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#333333;

	}

	

.checkout_form_box4 p{

	margin:0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#666666;

	line-height:20px;

	}

	

.checkout_form_box5{

	width:26%;

	float:left;

	text-align:center;

	}

	

.checkout_form_box5 h6{

	margin:0 0 10px 0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:bold;

	color:#333333;

	}

	

.checkout_form_box5 p{

	margin:0 0 5px 0;

	padding:0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#666666;

	}

	

.checkout_form_box5 a{	

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#0066FF;

	text-decoration:none;

	clear:both;

	float:left;

	text-align:center;

	width:100%;

	line-height:20px;

	}















	

.checkout_form_main_2{

	width:100%;

	float:left;

	margin:10px 0 0 0px;

	padding:20px 0 0 0;

	border-top:1px dashed #333333;

	}





.cart_checkout_btn{

	width:100%;

	float:left;

	margin:0;

	padding:0;

	}

	



.cart_checkout_btn a {

    float: right;

    margin: 20px 22px 0 0;

    padding: 0;

    width: auto;

}

	

.last-child{

	float:right !important;

	}

	

.daytime_Phone{

	font-family:Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#990000;

	text-decoration:none;

	float:left;

	margin:8px 0 0 5px;

	}

	

.daytime_Phone_input1{

	width:174px !important;

	}

	

.daytime_Phone_input2{

	width:100px !important;

	}

	

.secure_checkout_main {

    float: left;

    margin: 20px 0 0 90px;

    padding: 0;

    width: 399px;

}



.secure_checkout_main h1{

    color: #D80004;

    float: left;

    font-family: 'oswaldbold';

    font-size: 20px;

    font-weight: normal;

    margin: 20px 20px 10px 0;

    padding: 0;

    text-transform: uppercase;

    width: 100%;

	}



.secure_checkout_p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#666666;

	line-height:18px;

	float:left;

	}

	

.secure_checkout_span{

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#666666;

	line-height:18px;

	margin:5px 0 0 5px;

	}

	

.submit_order{

	width:auto;

	float:left;

	margin:20px 0;

	}

	

.my_account_links ul{

	width:auto;

	float:right;

	margin:0;

	padding:0;

	}

	

.my_account_links li{

	background:url(../assets/images/admin/my_account_li_img.png) no-repeat scroll 0 5px transparent;

	list-style:none;

	float:left;

	margin:0;

	padding:0 15px;

	}

	

.my_account_links li a{

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:normal;

	color:#333333;

	text-decoration:none;

	}

	

.my_account_links li a:hover{

	color:#D80004;

	}

	

.my_account_links li a.active{

	color:#D80004;

	}

	

.my_account_links li:first-child{

	background:none;

	}

	

.my_account_main {

    margin:0 auto 0 auto;

    padding: 0;

    width: 330px;

}



.my_account_main h1{

    color: #D80004;

    float: left;

    font-family: 'oswaldbold';

    font-size: 20px;

    font-weight: normal;

    margin:30px 20px 10px 0;

    padding:20px 0 0 0;

	border-top:1px dashed #666666;

    text-transform: uppercase;

    width: 100%;

	}



	









	

	

/*====================== footer start =====================*/

	

.foooter_black_bg{

	width:100%;

	background:url(../assets/images/admin/footer_black_bg.png) repeat-x;

	float:left;

	margin:20px 0 0 0;

	padding:40px 0 38px 0;

	}

	

#foooter_black{

	width:1000px;

	margin:0 auto 0 auto;

	}



.foooter_black_left{

	width:48%;

	float:left;

	margin:0;

	padding:0;

	}

	

.foooter_black_left h1{

	font-family: 'oswaldlight';

	font-size:26px;

	font-weight:normal;

	color:#FFFFFF;

	margin:0 0 10px 0;

	padding:0;

	}

	

.foooter_black_left p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:normal;

	color:#7d7d7d;

	line-height:18px;

	}

	

.foooter_black_left strong{

	color:#FFFFFF;

	}

	

.foooter_black_right{

	width:auto;

	float:right;

	margin:0;

	padding:0;

	}

	

.news_letter_bg{

	background:url(../assets/images/admin/footer_b_shadow_bg.png) repeat-x;

	width:100%;

	float:left;

	margin:0;

	padding:29px 0;

	}

	

#news_letter{

	width:1000px;

	margin:0 auto 0 auto;

	}	

	

.news_letter_left{

	width:50%;

	float:left;

	margin:0;

	padding:0;

	}



.news_letter_left h1{

	font-family: 'oswaldbold';

	font-size:23px;

	font-weight:normal;

	color:#FFFFFF;

	margin:0;

	padding:0;

	}

	

.news_letter_b1{

	width:100%;

	float:left;

	margin:2px 0 0 0;

	padding:0;

	}

	

.news_letter_b1 span{

	width:auto;

	float:left;

	margin:0 10px 0 0;

	padding:0;

	}

	

.news_letter_b1 p{

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:normal;

	color:#d6d8d7;

	line-height:20px;

	margin:15px 0 0 0;

	float:left;

	}

	

.news_letter_b2{

	width:100%;

	float:left;

	margin:8px 0 0 0;

	padding:0;

	}

	

.news_letter_b2 input{

	width:63%;

	margin:0;

	padding:6px 10px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:13px;

	font-weight:normal;

	float:left;

	color:#4f4f4f;

	}

	

.news_letter_b2 a{

	float:left;

	margin:0 0 0 8px;

	padding:0;

	}

	

.news_letter_right{

	width:50%;

	float:right;

	margin:0;

	padding:0;

	}

	

.footer_icon{

	width:auto;

	float:right;

	margin:15px 0 30px 0;

	padding:0;

	}

	

.footer_icon a{

	float:left;

	margin:0 0 0 10px;

	padding:0;

	}

	

.news_letter_right P{

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	font-weight:normal;

	color:#FFFFFF;

	float:right;

	}

	

.footer_links{

	width:100%;

	

	float:left;

	margin:0;

	padding:0;

	background-color:#202D2C;
	

	}
	.Powered{ color:#fff; text-align:center;padding:10px; line-height:26px}

	

.footer_links ul{

	width:1000px;

	margin:0 auto 0 auto;

	}

	

.footer_links li{

	list-style:none;

	background:url(../assets/images/admin/footer_li_img.png) no-repeat scroll 0 6px transparent;

	float:left;

	margin:30px 0;

	padding:0 40px;

	}

	

.footer_links li a{

	font-family: 'oswaldlight';

	font-size:26px;

	font-weight:normal;

	color:#FFFFFF;

	text-decoration:none;

	}

	

.footer_links li a:hover{

	color:#00FF99;

	}

	

.footer_links li:first-child{

	background:none;

	}

	

.sort_by span

{

	float:left;

	color: #666666;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 14px;

	padding: 5px 0 0 21px;

}



.comare_box {

    background: none repeat scroll 0 0 white;

    border: 1px solid #999999;

    float: left;

    margin: 0 0 0 11px;

    padding: 25px 0 0;

    width: 30px;

}



.sort_by img {

    float: left;

    margin: 0px 0 0 9px;

    max-width: 10%;

}

.city {

    float: left;

    width: 16% !important;

}



.create_account_box span {

    float: left;

    margin: 4px 0 0;

    width: 100%;

}	

.city1 {

    float: left;

    width: 50% !important;

}	



.name1 {

    background: none repeat scroll 0 0 #F9F9F9;

    border: 1px solid #AAAAAA;

    color: #333333;

    font-family: arial;

    font-size: 14px;

    padding: 6px 10px 6px 85px;

    width: 321px;

}	



.card1 {

    background: none repeat scroll 0 0 #F9F9F9;

    border: 1px solid #AAAAAA;

    color: #333333;

    float: left;

    font-family: arial;

    font-size: 14px;

    margin-right: 10px;

    padding: 6px 10px 6px 31px;

    width: 156px;

}



.check_out1 {

    float: left;

  

    margin: 0 0 0 59px;

    width: 26%;

}





.check_out1 span {

    float: left;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 14px;

    font-weight: bold;

    margin: 16px 0 0;

}



.check_out2 {

    float: left;

   

    margin: 0 1px 0 121px;

    width: 25%;

}

.check_out2 span {

    float: left;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 14px;

    font-weight: bold;

    margin: 16px 0 0;

}



.check_out3 {

    float: left;

   

    margin: 0 0 0 59px;

    width:20%;

}

.check_out3 span {

    float: left;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 14px;

    font-weight: bold;

    margin: 16px 0 0;

}







#banner_wrapper  img

{

float:left;

margin:20px 3px 0 0px;

}



.banner_content {

    float: left;

    margin: 50px 0 0 15px;

     width: 30%;

	

}



.banner_content h1 {

    color: #181717;

    font-family: 'oswaldbook';

    font-size: 53px;

    font-weight: normal;

    margin: 0;

    padding: 0;

}



.banner_content p {

    color: #686868;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 13px;

    line-height: 17px;

    margin: 0;

    padding: 0;

    text-align: justify;

}



.banner_content span {

    color: #FF0000;

    float: left;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 31px;

    margin: 28px 0 0 10px;

}

.shop_now

{

float:left;

}

.banner_arrow

{

float:left;

}	





.banner_arrow {

    float: right;

    margin: 54px 0 0;

    width: 18%;

}

.banner_arrow  img {

    float: left;

    margin: 0px 3px 0 0 !important;

}

.contact_fieldmain_sec{

    float: left;

    margin: 22px 0 7px 24px;

    width: 908px;

}



.contact_fieldmain_sec h6{

	font-family: 'Conv_tahoma';

	font-size:14px;

	color:#000000;

	font-weight:normal;

	margin:0 0 25px;

	padding: 0 0 10px;

	

}



.cont_textfield{

	width:77px;

	float:left;

	font-family: 'Conv_tahoma';

	font-size:12px;

	color:#000000;

	font-weight:normal;

	margin: 6px 0 0;

}



.cont_inputfield{

    float: left;

    margin: 0 51px 0 10px;

    padding: 5px;

    width: 295px;

}



.contact_fieldmain_sec p{

	width:100%;

	float:left;

	margin:0 0 12px;

	font-family: 'Conv_tahoma';

	font-size:12px;

	color:#000000;

}



.contact_fieldmain_sec p a{

	color:#000000;

	text-decoration:none;

}



.cont_textarea{

	float: left;

    height: 99px;

    margin: 0 0 0 10px;

    width: 418px;

}



.cont_selectfield{

	float: left;

    margin: 0 0px 0 10px;

    padding: 5px;

    width: 309px;

	height: 31px;

	font-family: 'Conv_tahoma';

	font-size:12px;

	color:#000000;

}



.captc_sec{

	width:auto;

	float:left;

	margin: 0 0 0 10px;

}



.text_field{

	font-family: 'Conv_tahoma';

	font-size:12px;

	color:#000000;

	width:auto;

	float:left;

	margin: 0 0 0 8px;

}



.template_innermain{

    background: none repeat scroll 0 0 #FFFFFF;

    float: left;

    padding: 7px 0 0;

    width: 982px;

}



.template_innerbg{

    float: left;

    height: 684px;

    padding: 7px 0 0;

    width: 982px;

	text-align:center;

}



.template_innerbg img{

    max-width: 100%;

}

.form-signin {

    max-width: 300px;

    padding: 19px 29px 29px;

    margin: 0 auto 20px;

    background-color: #fff;

    border: 1px solid #e5e5e5;

    -webkit-border-radius: 5px;

       -moz-border-radius: 5px;

            border-radius: 5px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);

       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);

            box-shadow: 0 1px 2px rgba(0,0,0,.05);

}

.form-signin .form-signin-heading,

.form-signin .checkbox {

    margin-bottom: 10px;

}

.form-signin input[type="text"],

 .form-signin input[type="password"] {

    font-size: 16px;

    height: auto;

    margin-bottom: 15px;

    padding: 7px 9px;

	width:260px;

	

}





/*-------18 dec-----*/



.error_message
{
background-color: #4980BD;
color:#fff;
margin-bottom: 29px;
margin-left: 13px;
margin-top: 24px;
padding: 10px;
width: 95%;
}

.block-header div.pull-right

{

background-color: #42382F;


    color: #FFFFFF;

    margin-top: 5px;

    padding: 6px;

    width: 98px;

	text-align:center;

}

.block-header div.pull-right a

{

color:#fff;



}



.row-fluid {

    min-height: 662px;



}

button.btn, input.btn[type="submit"] {
    background-color: #1CC0CD;
    background-image: linear-gradient(to bottom, #1CC0CD, #1CC0CD);
  
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{

background-color: #1CC0CD !important;
    color: #FFFFFF;

}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{

 background-color: #F1F1F1 !important;
    background-image: linear-gradient(to bottom, #F1F1F1, #F1F1F1) !important;

}

.extra-menu{
	border-collapse:collapse;
	margin:0px 0;
	width:75%;
	clear:both;
}
.extra-menu td{
	font:13px Arial, Helvetica, sans-serif;
	color:#2d2d2d;
	padding:8px 0;
	text-align:left;
}
.extra-menu td input[type=checkbox]{
	margin:-2px 0 0 0;
}

.fullbody{
	background-image:url(../../images/admin/Bg.jpg);
	width:100%;
	float:left;
	height:640px
	}
	.active a
	{
	    background-color: #1CC0CD!important;
	}